<nav id="header" class="bg-white fixed w-full z-10 top-0 shadow">
  <div class="w-full container mx-auto flex flex-wrap items-center mt-0 pt-3 pb-3 md:pb-0">

    <div class="w-1/2 pl-2 md:pl-0">
        <a class="text-gray-900 text-base xl:text-xl no-underline hover:no-underline font-bold" href="/">
          Truekaso
        </a>
    </div>
    <div class="w-1/2 pr-0">
      <div class="flex relative inline-block float-right">

        <div class="relative text-sm">
          <%= link_to destroy_admin_user_session_path, class: 'flex items-center focus:outline-none mr-3' do %>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1" />
            </svg>
            <span class="hidden md:inline-block">Salir</span>
          <% end %>
        </div>

        <div class="block lg:hidden pr-4">
          <button id="nav-toggle" class="flex items-center px-3 py-2 border rounded text-gray-500 border-gray-600 hover:text-gray-900 hover:border-teal-500 appearance-none focus:outline-none">
            <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <title>Menu</title>
              <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
            </svg>
          </button>
        </div>
    </div>
  </div>

  <div class="w-full flex-grow lg:flex lg:items-center lg:w-auto hidden lg:block mt-2 lg:mt-0 bg-white z-20">
    <ul class="list-reset lg:flex flex-1 items-center px-4 md:px-0">
      <li class="mr-6 my-2 md:my-0">
        <a href="/admin" class="block py-1 md:py-3 pl-1 align-middle <%= request.path == "/admin" ? "text-red-600" : "text-gray-500" %> no-underline hover:text-gray-900 border-b-2 border-white hover:border-red-600">
          <span class="pb-1 md:pb-0 text-sm">Inicio</span>
        </a>
      </li>
      <li class="mr-6 my-2 md:my-0">
        <a href="/admin/swipes" class="block py-1 md:py-3 pl-1 align-middle <%= request.path.include?("/admin/swipes") ? "text-red-600" : "text-gray-500" %> no-underline hover:text-gray-900 border-b-2 border-white hover:border-red-500">
          <span class="pb-1 md:pb-0 text-sm">Swipes</span>
        </a>
      </li>
      <li class="mr-6 my-2 md:my-0">
        <a href="/admin/matches" class="block py-1 md:py-3 pl-1 align-middle <%= request.path.include?("/admin/matches") ? "text-red-600" : "text-gray-500" %> no-underline hover:text-gray-900 border-b-2 border-white hover:border-red-500">
          <span class="pb-1 md:pb-0 text-sm">Matches</span>
        </a>
      </li>
      <li class="mr-6 my-2 md:my-0">
        <a href="/admin/products" class="block py-1 md:py-3 pl-1 align-middle <%= request.path.include?("/admin/products") ? "text-red-600" : "text-gray-500" %> no-underline hover:text-gray-900 border-b-2 border-white hover:border-red-500">
          <span class="pb-1 md:pb-0 text-sm">Productos</span>
        </a>
      </li>
      <li class="mr-6 my-2 md:my-0">
        <a href="/admin/users" class="block py-1 md:py-3 pl-1 align-middle <%= request.path.include?("/admin/users") ? "text-red-600" : "text-gray-500" %> no-underline hover:text-gray-900 border-b-2 border-white hover:border-red-500">
          <span class="pb-1 md:pb-0 text-sm">Usuarios</span>
        </a>
      </li>
    </ul>
    </div>
  </div>
</nav>