<div class="flex flex-wrap">
  <div class="w-full p-3">
    <div class="bg-white border rounded shadow">
      <div class="p-5">
        <h3 class="font-bold text-1xl">
          Swipes
        </h3>
        <% if @swipes.size > 0 %>
          <table class="<%= Vars::TABLE_CLASS %>">
            <thead>
              <tr>
                <th class="<%= Vars::TABLE_TH_CLASS %>">ID usuario</th>
                <th class="<%= Vars::TABLE_TH_CLASS %>">Producto</th>
                <th class="<%= Vars::TABLE_TH_CLASS %>">Me gusta</th>
              </tr>
            </thead>

            <tbody>
              <% @swipes.each do |swipe| %>
                <tr>
                  <td class="<%= Vars::TABLE_TD_CLASS %>"><%= link_to swipe.user&.id, admin_user_path(swipe.user&.id) %></td>
                  <td class="<%= Vars::TABLE_TD_CLASS %>"><%= swipe.product&.name %></td>
                  <td class="<%= Vars::TABLE_TD_CLASS %>"><%= swipe.liked == true ? 'Si' : 'No' %></td>
                </tr>
              <% end %>
            </tbody>
          </table>

          <div class="digg_pagination">
            <%= will_paginate @swipes, :container => false %>
          </div>
        <% else %>
          <%= render partial: 'admin/empty_records' %>
        <% end %>
      </div>
    </div>
  </div>
</div>