<div class="flex flex-wrap">
  <div class="w-full md:w-1/2 xl:w-1/3 p-3">
    <div class="bg-white border rounded shadow p-2">
      <div class="flex flex-row items-center">
        <div class="flex-shrink pr-4">
          <div class="rounded p-3 bg-blue-600"><i class="fas fa-server fa-2x fa-fw fa-inverse"></i></div>
        </div>
        <div class="flex-1 text-right md:text-center">
          <h5 class="font-bold uppercase text-gray-500">Swipes</h5>
          <h3 class="font-bold text-3xl">
            <a href="/admin/swipes">
              <%= Swipe.count %>
            </a>
        </div>
      </div>
    </div>
  </div>
  <div class="w-full md:w-1/2 xl:w-1/3 p-3">
    <div class="bg-white border rounded shadow p-2">
      <div class="flex flex-row items-center">
        <div class="flex-shrink pr-4">
          <div class="rounded p-3 bg-yellow-600"><i class="fas fa-user-plus fa-2x fa-fw fa-inverse"></i></div>
        </div>
        <div class="flex-1 text-right md:text-center">
          <h5 class="font-bold uppercase text-gray-500">Usuarios</h5>
          <h3 class="font-bold text-3xl">
            <a href="/admin/users">
              <%= User.count %>
            </a>
          </h3>
        </div>
      </div>
    </div>
  </div>
  <div class="w-full md:w-1/2 xl:w-1/3 p-3">
    <div class="bg-white border rounded shadow p-2">
      <div class="flex flex-row items-center">
        <div class="flex-shrink pr-4">
          <div class="rounded p-3 bg-pink-600"><i class="fas fa-users fa-2x fa-fw fa-inverse"></i></div>
        </div>
        <div class="flex-1 text-right md:text-center">
          <h5 class="font-bold uppercase text-gray-500">Productos</h5>
          <h3 class="font-bold text-3xl">
            <a href="/admin/products"><%= Product.active.length %></a>
          </h3>
        </div>
      </div>
    </div>
  </div>
  <div class="w-full md:w-1/2 xl:w-1/3 p-3">
    <div class="bg-white border rounded shadow p-2">
      <div class="flex flex-row items-center">
        <div class="flex-shrink pr-4">
          <div class="rounded p-3 bg-green-600"><i class="fa fa-wallet fa-2x fa-fw fa-inverse"></i></div>
        </div>
        <div class="flex-1 text-right md:text-center">
          <h5 class="font-bold uppercase text-gray-500">Matchs Pendientes</h5>
          <h3 class="font-bold text-3xl">
            <a href="/admin/matches?state=pending">
              <%= Match.pending.length %>
            </a>
          </h3>
        </div>
      </div>
    </div>
  </div>
  <div class="w-full md:w-1/2 xl:w-1/3 p-3">
    <div class="bg-white border rounded shadow p-2">
      <div class="flex flex-row items-center">
        <div class="flex-shrink pr-4">
          <div class="rounded p-3 bg-indigo-600"><i class="fas fa-tasks fa-2x fa-fw fa-inverse"></i></div>
        </div>
        <div class="flex-1 text-right md:text-center">
          <h5 class="font-bold uppercase text-gray-500">Matchs Pagados</h5>
          <h3 class="font-bold text-3xl">
            <a href="/admin/matches?state=finished">
              <%= Match.finished.length %>
            </a>
          </h3>
        </div>
      </div>
    </div>
  </div>
  <div class="w-full md:w-1/2 xl:w-1/3 p-3">
    <div class="bg-white border rounded shadow p-2">
      <div class="flex flex-row items-center">
        <div class="flex-shrink pr-4">
          <div class="rounded p-3 bg-red-600"><i class="fas fa-inbox fa-2x fa-fw fa-inverse"></i></div>
        </div>
        <div class="flex-1 text-right md:text-center">
          <h5 class="font-bold uppercase text-gray-500">Matchs Rechazados</h5>
          <h3 class="font-bold text-3xl">
            <a href="/admin/matches?state=declined">
              <%= Match.declined.length %>
            </a>
          </h3>
        </div>
      </div>
    </div>
  </div>
</div>

<hr class="border-b-2 border-gray-400 my-8 mx-4">

<div class="flex flex-row flex-wrap flex-grow mt-2">
  <div class="w-full md:w-1/2 p-3">
    <div class="bg-white border rounded shadow">
      <div class="border-b p-3">
        <h5 class="font-bold uppercase text-gray-600">Usuarios registrados por día</h5>
      </div>
      <div class="p-5">
        <%= line_chart @users_line %>
      </div>
    </div>
  </div>

  <div class="w-full md:w-1/2 p-3">
    <div class="bg-white border rounded shadow">
      <div class="border-b p-3">
        <h5 class="font-bold uppercase text-gray-600">Swipes Like/Dislike</h5>
      </div>
      <div class="p-5">
        <%= pie_chart @swipe_pie, colors: ["#079768", "#D9770B"] %>
      </div>
    </div>
  </div>
</div>