<div class="flex flex-wrap">
  <div class="w-full p-3">
    <div class="bg-white border rounded shadow">
      <div class="p-5">
        <h3 class="font-bold text-1xl">
          Productos
        </h3>
        <% if @products.size > 0 %>
          <table class="<%= Vars::TABLE_CLASS %>">
            <thead>
              <tr>
                <th class="<%= Vars::TABLE_TH_CLASS %>">Id</th>
                <th class="<%= Vars::TABLE_TH_CLASS %>">Nombre</th>
                <th class="<%= Vars::TABLE_TH_CLASS %>">Descripción</th>
                <th class="<%= Vars::TABLE_TH_CLASS %>">Precio</th>
                <th class="<%= Vars::TABLE_TH_CLASS %>">Estado</th>
              </tr>
            </thead>

            <tbody>
              <% @products.each do |prod| %>
                <tr>
                  <td class="<%= Vars::TABLE_TD_CLASS %>"><%= link_to prod.id, admin_product_path(prod.id) %></td>
                  <td class="<%= Vars::TABLE_TD_CLASS %>"><%= prod.name %></td>
                  <td class="<%= Vars::TABLE_TD_CLASS %>"><%= prod.description[0, 20] %>...</td>
                  <td class="<%= Vars::TABLE_TD_CLASS %>"><%= prod.price %></td>
                  <td class="<%= Vars::TABLE_TD_CLASS %>"><%= prod.state %></td>
                </tr>
              <% end %>
            </tbody>
          </table>

          <div class="digg_pagination">
            <%= will_paginate @products, :container => false %>
          </div>
        <% else %>
          <%= render partial: 'admin/empty_records' %>
        <% end %>
      </div>
    </div>
  </div>
</div>